
.grayBorder {
    background-color: #555;
    color: #ffffff;
}

body {
    display: grid;
    grid-template-areas: 
        "h1 h1 h1"
        "nav section section"
        "footer footer footer";
    background-image: linear-gradient(to bottom, grey, white);
}

h1 {
    padding: 5px;
    margin: 0%;
    grid-area: h1;
}

footer {
    padding: 5px;
    grid-area: footer;
}

nav { 
    width: 200px; 
    grid-area: nav;
}

ul {
    list-style-type: none;
    padding: 5px;
    padding-right: 1em;
    margin: 0px;
}

li {
    text-decoration: none;
}

a {
    background-color: #ccc;
    text-decoration: none;
    font-family: sans-serif;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    margin: 1px; 
    padding: 15px;
    transition: background-color 1s, transform 1s;
}

a:hover {
    background-color: purple;
    transform: rotate(360deg);
}

section {
    width: 80%;
    border-left: #000 solid 1px;
    padding: 1em;
    grid-area: section;
}

section p {
    text-align: justify;
}

footer {
    grid-area: footer;
}

footer p {
    margin: 0px;
}